
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background-color: black;
  }
  
  * {
    box-sizing: border-box;
  }

  /* navbar */

  #nav {
    background: none;
    font-family: 'Suez One', serif;
  }

  #nav .nav-link:hover {
    color: #E3196D !important;
  }

  /* contact page */
.header-contact {
  font-family: 'Suez One', serif;
  font-size: 36px;
  color: white;
  text-align: center;
  border-bottom: 3px solid #03C2C9;
  margin-bottom: 25px;
  
}

.overflow-wrap flex {
  padding-left: 40px;
}

/* bottom-container */
.bottom-container {
  width: 100%;
  max-width: 960px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#contact-section {
  padding-left: 210px;
}

#icon-section {
  padding-left: 390px;
}

#icon {
  margin: 50px 5px;
  color: #03C2C9;
}

#icon:hover {
  color: #E3196D !important;
}

.overflow-wrap flex {
  font-size: 18px;
}

  
  /* general */
  
  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    background-color: black;
  }

  .left-col-6 {
    
  }
  .right-col-6 {
    flex-wrap: wrap;
    float:right;
    width: 400px;
    height: 649px;
    margin-left: 15px;
  }
  #headline {
    font-family: 'Suez One', serif;
    font-size: 80px;
    flex-wrap: wrap;
    float: right;
    color: white;
    width: 100%;
    height: 100%;
  }

  .coverpic {
    width: 100%;
    border-radius: 8px;
  }
  
  h1 {
    font-family: 'Suez One', serif;
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
  }

  p {
    font-family: 'Suez One', serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
  }

  .card {
    font-family: 'Suez One', serif;
    background-color: transparent;
    margin-top: 40px;
    margin-right: 5px;
    /* padding: 10px; */
    float: left;
    width: 100%;
    max-width: 700px;
  }
  
  
  /* footer */
  
  #footer {
    display: flex-center;
    padding: 5px 0px 15px 0px;
    clear: both;
    width: 100%;
    max-width: 960px;
    font-size: 18px;
    font-family: 'Suez One', serif;
    color: white;
    text-align: center;
    background-color: #E3196D;
    border-top: 8px solid #03C2C9;
    height: 50px;
    margin-top: 20px;
    justify-content: center | space-evenly;
  }
  
  /* h3, h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eeeeee;
  } */
  
  /* main */
  
  #main-container {
    padding-top: 20px;
    min-height: calc(100vh - 70px);
    
  }
  
  .main-section {
    /* float: left;
    width: 100%; */
    /* display: flex;
    flex-direction: row;
    align-items: flex-start; */
    height: 100%;
    max-width: 960px;
    padding: 30px;
    margin-top: 20px;
    margin-left: 0px;
    background: black;
  }
  
  /* portfolio page */
  
  .work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  } 
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  
  /* Pictures */
  .mypic {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
    border-radius: 10px;
  }

  #desk-man {
    max-width: 100%;
    height: auto;

  }
  
  









